@use "variables" as vars;

#api-popup {
    // upper left corner
    position: absolute;
    top: calc(vars.$toolbar-height / 4);
    left: 60px;
}

#api-input {
    // change the input placeholder text color
    &::placeholder {
        color: var(--grayed-out-color);
    }
    height: calc(vars.$toolbar-height / 2.5);
}
