@use 'variables' as vars;

#audio-panel {
    // makes audio panel fixed to bottom of page
    background-color: var(--background-color);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 0;
    border-top: 1px solid var(--accent-color);
    height: vars.$audio-panel-height;
    // aligns elements in a row
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    #timeline{
        flex-grow: 1;
    }
    button{
        border: none;
    }
    // svg{
    //     path
    //     height: 100%;
    //     width: auto;
    // }
    .disabled-button{
        svg{
            path{
                stroke: var(--grayed-out-color);
            }
        }
    }
}