@use "variables" as vars;

#electron-titlebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: vars.$electron-titlebar-height; /* adjust the height as needed */
    background-color: #2f3241; /* set your desired background color */
    // background-color: #fff1bb;
    -webkit-app-region: drag; /* make the titlebar draggable in Electron */
}
