@use "../../styles/variables" as vars;


#toolbar {
    -webkit-app-region: drag;
    // makes toolbar fixed to top of page
    position: fixed;
    // top: vars.$electron-titlebar-height;
    top: var(--electron-titlebar-height);
    left: 0;
    right: 0;
    z-index: 100;
    // aligns elements in a row
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    // adds a border at the bottom
    border-bottom: 1px solid var(--accent-color);
    height: vars.$toolbar-height;

    #api-button {
        margin-right: auto;
        -webkit-app-region: no-drag;
        height: 100%;
    }

    #app-name {
        width: 100%;
        font-size: 24px;
    }

    #info-button {
        margin-left: auto;
    }
}
