@use "../../styles/variables" as vars;

#summary-button {
    #generate-button {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: vars.$notes-button-width;
        padding-right: 8px;
    }

    #summary-drop-down-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-left: 9px;
        padding-right: 12px;
        width: vars.$summary-drop-down-button-width;
    }
}
