@use "../../styles/variables" as vars;

.small-drop-down{
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    .fa-icon{
        padding-left: 4px;
        padding-right: 4px;
    }
    button{
        border: none;
        // padding: 4px;
    }
    ul{
        padding: 0;
        margin: 0;
    }
    
    .small-drop-down-content{
        border-top: 2px solid var(--accent-color);
        border-left: 2px solid var(--accent-color);
        border-right: 2px solid var(--accent-color);
        padding: 0px;
        margin: 0px;
        background-color: var(--background-color);
        
        .small-drop-down-item{
            margin: 0px;
            font-size: 14px;
            list-style-type: none;
            padding: 4px;
            cursor: pointer;
            border-bottom: 2px solid var(--accent-color);

            &:hover{
                background-color: var(--highlight-color);
            }
        }
    }
}