@use "../../styles/variables" as vars;

#summary-panel {
    position: absolute;
    // this needs to use calc() since we are adding a css runtime variable
    top: calc(vars.$toolbar-height + var(--electron-titlebar-height));
    right: 0;
    width: 50%;
    bottom: vars.$audio-panel-height;
    overflow-y: scroll;

    // Needs to be moves to SmallDropdown.scss (for Dropdown element, needs to get renamed)
    // #summary-drop-down {
    //     list-style-type: none;
    //     padding: 0;
    //     margin-top: 0;
    //     width: 35%;
    //     background-color: var(--background-color);
    //     // centers the drop down
    //     position: absolute;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     width: calc(
    //         vars.$notes-button-width + vars.$summary-drop-down-button-width -
    //             20px
    //     );

    //     .summary-drop-down-item {
    //         background-color: var(--background-color);
    //         margin-top: 3px;
    //         padding: 10px;
    //         cursor: pointer;
    //         border: 1px solid var(--accent-color);
    //         border-radius: 15px;

    //         &:hover {
    //             background-color: var(--highlight-color);
    //         }
    //     }
    // }

    #summary-content {
        user-select: text;
        padding: 0 20px;
    }
}
