:root {
  /* color variables for default theme (light mode usually, but dark mode for testing) */
  --background-color: #fff1bb;
  --accent-color: #000;
  --grayed-out-color: #00000080;
  --highlight-color:#fff;
  --code-block-background:#e9dca8;

  transition: all 0.3s ease-in-out;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* ----------------------- Variables --------------------- */
  /* colors shceme variables. These are changed by the TS code when the user toggles to and from dark mode */
  color-scheme: light dark;
  color: var(--accent-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: var(--accent-color);
  /* make the text underlined */
  text-decoration: underline;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
